*{
    text-decoration: none;
}
body{
    margin-left: 30px;
}
.navbar{
    background-color: #1F3119;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 15px;
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 30px;
}
.navdiv{
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size: 40px;
    color: white;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
}
li{
    list-style: none;
    display: inline;
}
li a{
    color: white; margin-right: 20px;
}
button{
    background-color: #3A8358; border-radius: 5px; padding: 10px; width: 90px;
    margin-right: 20px; border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
button a{
    color: white;
}
/* Discover fresh */
.allText{
    float: left;
    margin-top: 90px;
}
.discover{
    color:  #1F3119;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}
.your{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300; 
}
.imgdiv{
    display: flex;
    flex-direction: column;
}

.img1{
    float: right;
    height: 400px;
    padding-top: 0px;
    border-radius: 20px;
    align-self: flex-end;
}
.img2{

    height: 130px;
    border-radius: 20px;
    align-self: flex-end;
    padding: 10px;
    margin-right: 410px;
}
.img3{

    height: 130px;
    border-radius: 20px;
    align-self: flex-end;
    padding: 10px;
    margin-top: -150px;
    margin-right: -8px;
}
.our{
    display: flex;
    align-self: flex-start;
    margin-top: -150px;
    width: 150px;
    font-family: "Roboto", sans-serif;
    color: white;
    padding-left: 28px; border-radius: 5px; font-size: 15px; border-style: none;
    background-color: #3A8358;
}
.project{
    margin-top: 60px;
    width: 130px;
    height: 70px;
    background-color: #e5f5eb;
    border-radius: 10px;
}
.project h2{
    font-size: 1.6rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.project h3{
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
}
.team{
    margin-left: 150px;
    margin-top: -90px;
    width: 140px;
    height: 70px;
    background-color: #e5f5eb;
    border-radius: 10px;
}
.team h2{
    font-size: 1.6rem;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.team h3{
    margin-top: -20px;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 1rem;
}
/* our story */
.ostory h1{font-family: "Roboto", sans-serif;color:  #1F3119;}
.ostory h3{font-family: "Roboto", sans-serif;font-weight: 300;font-size: 1rem;}
.ourstory{
    display: flex;
    flex-direction: row;
    width: inherit;height: inherit;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    align-content: space-evenly;
}
.firstdiv{
    display: flex;
    flex-direction: column;
    width: inherit;height: inherit;
}
.tablet{
    border-radius: 20px;
    width: 400px;height: 200px;
}
.tructor{
    margin-top: 20px;
    border-radius: 20px;
    width: 400px;height: 150px;
}
.secondiv{
}
.carry{
    border-radius: 20px;
    width: 400px;height: 370px;
}
.thirdiv{
}
.ourdiv2{
    background-color: #e5f5eb;
    border-radius: 10px;
}
.ourdiv{
    font-size: 1.3rem;
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: -30px;

}
.ourtext{
    margin-top: -10px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 350;
    font-family: "Roboto", sans-serif;
}
.sun{
    padding-left: 10px;
    width: 30px;
    margin-top: 30px;
}
.leaf{
    width: 30px;
    padding-left: 10px;
    margin-top: 0px;
}
/* our offered services */
.ourheader h1{font-family: "Roboto", sans-serif;color:  #1F3119;}
.ourheader h3{font-family: "Roboto", sans-serif;font-weight: 300;font-size: 1rem;}
.fourbox{
    display: flex;
    flex-direction: row;
    width: inherit;height: inherit;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    align-content: space-evenly;
    font-family: "Roboto", sans-serif;
}
.fourbox 
.harvest{
    border: #57b47e solid ;
    border-radius: 15px;
    width: inherit;height: inherit;
}
.harvest img{height: 50px;width: 60px; margin-top: 20px;margin-left: 20px;}
.harvest h1{margin-left: 15px; margin-top: 5px;}
.harvest h3{font-size: 1rem; font-weight: 300; padding: 10px 15px 10px 15px;}
.harvest h2{font-size: 1rem ;padding-left: 15px;}
.soil{
    border: #57b47e solid;
    border-radius: 15px;
    width: inherit;height: inherit;
}
.soil img{height: 50px;width: 60px; margin-top: 20px;margin-left: 20px;}
.soil h1{margin-left: 15px; margin-top: 5px;}
.soil h3{font-size: 1rem; font-weight: 300; padding: 10px 15px 10px 15px;}
.soil h2{font-size: 1rem ;padding-left: 15px;}

.prunin{
    border: #57b47e solid;
    border-radius: 15px;
    width: inherit;height: inherit;
}
.prunin img{height: 50px;width: 60px; margin-top: 20px;margin-left: 20px;}
.prunin h1{margin-left: 15px; margin-top: 5px;}
.prunin h3{font-size: 1rem; font-weight: 300; padding: 10px 15px 10px 15px;}
.prunin h2{font-size: 1rem ;padding-left: 15px;}
.landscape{
    border: #57b47e solid;
    border-radius: 15px;
    width: inherit;height: inherit;
}
.landscape img{height: 50px;width: 60px; margin-top: 20px;margin-left: 20px;}
.landscape h1{margin-left: 15px; margin-top: 5px;}
.landscape h3{font-size: 1rem; font-weight: 300; padding: 10px 15px 10px 15px;}
.landscape h2{font-size: 1rem ;padding-left: 15px;}
.allservice{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
}
.allservice button{color: white;font-family: "Roboto", sans-serif;width: 120px;height: 40px;font-weight: 500;}
.sustain{
    display: flex;
    flex-direction: row;
    width: inherit;height: inherit;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    align-content: space-evenly;
    font-family: "Roboto", sans-serif;
}
.org{
}